
{block content}
<div><?php if(isset($values)) print_r($values); ?></div>
<div class="container signIn">
    {form insertLiekForm}
    
        <table>
            <tr class="required">
                <th>{label sn/}</th>
                <td>{input sn class=>'form-control'}</td>
            </tr> 
            <tr>
                <th>{label expire/}</th>
                <td>{input expire class=>'form-control',value=>"2011-05-16"}</td>
            </tr>
             <tr>
                <th>{label liek/}</th>
                <td>{input liek class=>'form-control'}</td>
            </tr>
            <tr>
                <th></th>
                <td>{input insert}</td>
            </tr>

        </table>

    {/form}    
    Datum expiracie vkladajte vo formate: 2011-05-16 
</div>
<br/>
<br/>
<br/>
<br/>

