{block content}

{control cartControl}

    <h1 n:block="title">Tovary</h1>
    <div class="form-group">
    {control skupinaForm}
    </div>
    <!--<?php if(isset($post)) print_r($post); ?> -->
    <hr>
    <table id="table_id" class="display">    
                <thead>        
                    <tr>
                        <th>#ID</th>
                        <th>Názov</th>
                        <th>Cena</th>
                        <th>Doplatok</th>
                        <th>Predpis</th>
                        <th>Aktívny</th>
                        <th>Doplnkovy</th>
                        <th>Ucinna l.</th>
                        <th>Počet</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {foreach $tovary as $tovar}
                    <tr>
                        <td>{$tovar->id_tovar}</td>
                        <td><p><a href="{link Tovar:show $tovar->id_tovar}">{$tovar->nazov}</a></p></td>
                        <td><p>{$tovar->cena}</p></td>
                        <td><p>{$tovar->doplatok}</p></td>
                        <td><p><?php if($tovar->na_predpis==1)echo "ano"; else echo "nie";?></p></td>
                        <td><p><?php if($tovar->aktivny==1)echo "ano"; else echo "nie";?></p></td>
                        <td><p><?php if($tovar->doplnkovy_tovar==1)echo "ano"; else echo "nie";?></p></td>
                        <td><p><a href="{link Tovar:nahrada null, $tovar->id_ucinna}">{$tovar->id_ucinna}</a></p></td>
                        <td><p>{$tovar->pocet}</p></td>
                        <td><a n:href="Tovar:namarkovat $tovar->id_tovar" class="btn btn-primary">Namarkovat</a></td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>

{/block}
