{block content}
    
    <div id="login" class="page">
        <h1 n:block="title">Přihlásit se</h1>
       
        <div class="content">
            {if !$user->loggedIn}
                {control signInForm}
            {/if}
            
        </div>
    </div>
{/block}