{block content}

    <a n:href="Namarkovane:default">&laquo; namarkované zboží</a>

    <h1 n:block="title">Vytvořit recept <small>#{$id_recept}</small></h1>
   
    <div class="center">
        {control receptAddForm}
    </div>
    
{/block}