{block content}

    <a n:href="Namarkovane:default">&laquo; namarkované zboží</a>

    <h1 n:block="title">Přiřadit recept</h1>
   
    <div class="center">
        {control receptPriraditForm}
    </div>
    
    <a n:href="Recept:default">(všechny recepty)</a>
    
{/block}